@import '@xyflow/react/dist/style.css' layer(base);

@import "tailwindcss";

@font-face {
  font-family: 'Minecraft';
  src: url('./assets/fonts/MinecraftRegular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Minecraft';
  src: url('./assets/fonts/MinecraftBold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Minecraft';
  src: url('./assets/fonts/MinecraftItalic.otf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Minecraft';
  src: url('./assets/fonts/MinecraftBoldItalic.otf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@tailwind utilities;

.react-flow__edges {
  z-index: 1000 !important;
}

.react-flow__edge-path {
  stroke: black;
}

.react-flow__node {
   z-index: -1 !important;
}
